{% extends "blog/shell.html" %}

{% block title %}Главная{% endblock %}

{% block body %}
    <h1>Добро пожаловать!</h1>

    <h2>Последние посты:</h2>
    {% for post in posts %}
        <h3>
            <a href="{% url 'post' post.pk %}">{{ post.title }}</a>
        </h3>
        {% if post.tags.all %}
            <p>Теги:
                {% for tag in post.tags.all %}
                    {{ tag.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
        {% endif %}
    {% empty %}
        <p>Пока нет ни одного поста.</p>
    {% endfor %}
{% endblock %}