{% extends "blog/shell.html" %}

{% block body %}
    {% if post.image %}
        <img src="{{ post.image.url }}" alt="{{ post.title }}">
    {% endif %}
    <h1>{{ post.title }}</h1>
    <p>{{ post.body }}</p>
    <p>{{ post.creation_date }}</p>
    <p>Автор: {{ post.author.username }}</p>

    {% if post.tags.all %}
        <p>Теги:
            {% for tag in post.tags.all %}
                {{ tag.name }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
    {% endif %}

    <h2>Комментарии</h2>
    {% for comment in post.comment_set.all %}
        <div>
            <strong>{{ comment.author.username }}</strong>
            <small>{{ comment.creation_date }}</small>
            <p>{{ comment.text }}</p>
        </div>
    {% empty %}
        <p>Комментариев пока нет.</p>
    {% endfor %}
{% endblock %}